:root {
    --ss-nunito: "Nunito", sans-serif;
    --ss-dynapuff: "DynaPuff", system-ui;
    --ss-dynalight: "Dynalight", cursive;
    --ss-font500: 500;
    --ss-font600: 600;
    --ss-font700: 700;
    --ss-font800: 800;
    --ss-fontbold: bold;
    --ss-primary: #FFEF52;
    --ss-secondary: #FF0000;
  }

  $bg-primary-color: #FFEF52;

  // background: linear-gradient(to bottom, #ff5a61 0%, #ff767b 100%);
